<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="log.path" value="/usr/local/log" />
    <property name="log.historyPath" value="/usr/local/logHistory" />
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>APPLICATION|%level|%X{hostAddress}|%X{pid}|%d{yyyy-MM-dd HH:mm:ss:SSS}|%X{operatorId}|%X{busiId}|%F:%L|%M|%X{errorCode}|%thread|%X{messegeCode}|%X{PtxId}|%message%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/logback.log</file><!-- 当前的日志文件存放路径 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志文件的存放路径和名称 -->
            <fileNamePattern>${log.historyPath}/logback.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>1MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="zdaasFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/zdaas-jdbc-logback.log</file><!-- 当前的日志文件存放路径 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志文件的存放路径和名称 -->
            <fileNamePattern>${log.historyPath}/zdaas-jdbc-logback.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>APPLICATION|%level|%X{hostAddress}|%X{pid}|%d{yyyy-MM-dd HH:mm:ss:SSS}|%X{operatorId}|%X{busiId}|%F:%L|%M|%X{errorCode}|%thread|%X{messegeCode}|%X{PtxId}|%message%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <logger name="com.learning.springboot" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file" />
    </logger>

</configuration>